<%-include('../layout/userLayout/userHeaderMini.ejs') %>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="icon-check_circle display-3 text-success"></span>
        <h2 class="display-3 text-black">Verified</h2>
        <p class="lead mb-5">
          Your email verification is successfuly completed.
        </p>
        <p><a href="/" class="btn btn-sm btn-primary">Start shopping</a></p>
      </div>
    </div>
  </div>
</div>
<%-include('../layout/userLayout/userFooter.ejs') %>
